.footer{
  width: 300px;
  margin-left: 80px;
}
ul{
  list-style: none;
}
ul li{
  color: white;
}
.footerdiv{
  background-color: rgb(32, 40, 70);
}
.footertwo{
  background-color: rgb(42, 54, 95);
}